name: Create Project

on:
  workflow_dispatch:
    inputs:
      location:
        description: Location of project (ex. Coast Gravity Park)
        default: "Coast Gravity Park"
        required: true
      date:
        description: Date of project (ex. 2022-12-25)
        default: "2022-12-25"
        required: true
      push-to-google:
        type: boolean
        description: Push the data to Google Drive
        default: true
      footage-labels:
        description: Comma seperated description of footage (ex. James_Hero10,Jared_Hero10)
        default: "James_Hero10,Jared_Hero10"

jobs:
  generate-artifacts:
    name: Generate Artifacts Structure
    runs-on: ubuntu-latest
    steps:
      - name: Create Directory
        run: |
          location="${{ github.event.inputs.location }}"
          location="${location// /_}"
          footage_labels="${{ github.event.inputs.footage-labels }}"
          project_dir="${{ github.event.inputs.date }}_${location}"
          echo "LOCATION=$location" >> $GITHUB_ENV
          echo "PROJECT_DIR=$project_dir" >> $GITHUB_ENV
          mkdir "${project_dir}"
          date > "${project_dir}/.action_created"
          for directory in "audio" "footage" "music" "thumbnails"; do
            mkdir "${project_dir}/${directory}"
            date > "${project_dir}/${directory}/.action_created"
          done
          for label in ${footage_labels//,/ }; do
            mkdir "${project_dir}/footage/${label}"
            date > "${project_dir}/footage/${label}/.action_created"
          done
      - name: Upload to gdrive
        uses: adityak74/google-drive-upload-git-action@v0.3
        with:
          credentials: ${{ secrets.GDRIVE_KEY }}
          filename: "${{ env.PROJECT_DIR }}/**/*"
          folderId: ${{ secrets.GDRIVE_BASE_FOLDER }}
          overwrite: false
          mirrorDirectoryStructure: true
          useCompleteSourceFilenameAsName: true
